Repository MT-CTF/capturetheflag, pull requests merged in 2020-10, with the labels that each got.

#683 Remove snipers
  mods/ctf/ctf_classes/classes.lua
  mods/ctf/ctf_crafting/init.lua
Labels: :gear: Classes, :gear: Tools / Weapons, Balance, Ready for review :tada:

#596 Replace Travis CI with GitHub actions
  .github/workflows/build.yml
  .travis.yml
  README.md
Labels: Maintenance / Code quality, Ready for review :tada:

#695 Prevent medics from healing players damaged by drowning/lava
  mods/ctf/ctf_classes/medic.lua
Labels: :gear: AntiAbuse, :gear: Classes, :gear: Items / Nodes, Bug / Bugfix, Ready for review :tada:

#693 Add mod `real_suffocation` with custom tweaks for CTF
  mods/other/real_suffocation/README.md
  mods/other/real_suffocation/init.lua
  mods/other/real_suffocation/mod.conf
  mods/other/real_suffocation/settingtypes.txt
Labels: :gear: Player, Balance, Feature :star:, Ready for review :tada:
