Repository MT-CTF/capturetheflag, pull requests merged in 2020-07, with the labels that each got.

#620 Fix players being able to place class items in furnaces
  mods/ctf/ctf_classes/items.lua
  mods/ctf/ctf_classes/mod.conf
Labels: :gear: AntiAbuse, :gear: Classes, Action / change needed :exclamation:, Bug / Bugfix, Ready for review :tada:

#670 Prevent furnace swapping and fix bug with non-main invs
  mods/ctf/ctf_classes/items.lua
  mods/ctf/ctf_map/ctf_map_core/chest.lua
  mods/other/tsm_chests/init.lua
Labels: :gear: AntiAbuse, :gear: Inventory, Bug / Bugfix, High Priority :grey_exclamation:, Ready for review :tada:

#669 Fix up classes formspec
  mods/ctf/ctf_classes/classes.lua
  mods/ctf/ctf_classes/gui.lua
Labels: :gear: Classes, Ready for review :tada:
