Repository MT-CTF/capturetheflag, pull requests merged in 2022-10, with the labels that each got.

#1054 Start work on horizontal scrollbar
  mods/apis/ctf_gui/init.lua
  mods/ctf/ctf_map/mapedit_gui.lua
  mods/ctf/ctf_modebase/summary.lua
Labels: Maintenance / Performance, :gear: GUI / HUD / Audio

#985 Highlight visited chests
  mods/ctf/ctf_map/nodes.lua
Labels: :gear: Nodes, One approval :white_check_mark:

#1050 random_messages: implement Russian localisation
  mods/other/random_messages/locale/random_messages.ru.tr
Labels: Ready for review :tada:, :gear: Translations
